*{
  background: black;
  font-family: Exo, sans-serif;
  color: white;
}

a {
  text-decoration: none;
}
.App {
  text-align: center;
}

.header {
  margin: unset;
  font-size: 72px;
}

.small-header {
  margin-bottom: unset;
  font-size: 42px;
}

.smaller-header {
  margin-bottom: unset;
  font-size: 39px;
}

.wrapper {
  max-width: 287px;
  margin: auto;
  text-align: left;
}

.grid-wrapper-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.grid-wrapper-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.grid-wrapper-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.icons-wrapper {
  max-width: 287px;
  margin: auto;
}

.dot {
  position: relative;
  top: 130px;
  left: 145px;
  height: 20px;
  width: 22px;
  background-color: #CCDB74;
  border-radius: 50%;
  display: inline-block;
}

.highlight {
  color: #CCDB74;
}

a.highlight:hover {
  border-bottom: 3px dotted #CCDB74;
}

.icon {
  max-width: 50px;
}

.icon:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.dotted-divider {
  display: block;
  max-width: 300px;
  height: 1px;
  border: 0;
  border-top: 3px dotted #CCDB74;
  margin: 29px auto 29px auto;
  padding: 0;
}

.fill-white path {
  fill: white;
}

/*@media screen (min-width) {*/

/*}*/
