*{
  background: black;
  font-family: Exo, sans-serif;
  color: white;
}

/* maintenance */
.disclaimer {
  background: white;
  color: black;
}

.dot {
  position: relative;
  top: 130px;
  left: 145px;
  height: 20px;
  width: 22px;
  background-color: #CCDB74;
  border-radius: 50%;
  display: inline-block;
}

.dotted-divider {
  display: block;
  max-width: 300px;
  height: 1px;
  border: 0;
  border-top: 3px dotted #CCDB74;
  margin: 29px auto 29px auto;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  margin: unset;
  font-size: 72px;
}

.small-header {
  margin-bottom: unset;
  font-size: 42px;
}

.smaller-header {
  margin-bottom: unset;
  font-size: 25px;
}

.wrapper {
  max-width: 287px;
  margin: auto;
  text-align: left;
}

.wrapper-project-stack {
  padding: unset;
  list-style: none;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.wrapper-flex {
  display: flex;
  align-items: flex-start;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.wrapper-grid-alt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.wrapper-icons {
  max-width: 287px;
  margin: auto;
}

.footer-list {
  padding: unset;
  list-style: none;
}

.footer-list li {
  padding-top: 3px;
}

.highlight {
  color: #CCDB74;
}

a.highlight:hover {
  border-bottom: 3px dotted #CCDB74;
}

.icon {
  max-width: 50px;
}

.icon:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* shake on hover animation */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* change icon color to white */
.fill-white path {
  fill: white;
}

.timeline {
  height: max-content;
  border-left: 3px solid #CCDB74;
  padding-left: 15px;
}

.timeline-dot {
  color: black;
  text-align: center;
  position: relative;
  top: 53px;
  left: -26px;
  height: 20px;
  width: 20px;
  background-color: #CCDB74;
  border-radius: 50%;
  display: inline-block;
}

@media screen and ( min-width: 768px ) {
  .wrapper {
    max-width: 700px;
    justify-items: left;
  }
  .dotted-divider {
    max-width: 700px;
  }
  .wrapper-project-stack {
    max-width: 287px;
  }
  .dot {
    top: 35px;
    left: 358px;
  }
  .wrapper-icons {
    margin: unset;
  }
  .wrapper-grid {
    max-width: 700px;
    display: flex;
  }
  .wrapper-grid-alt {
    max-width: 180px;
    display: flex;
  }
}
