*{
  background: black;
  font-family: Exo, sans-serif;
  color: white;
}

a {
  text-decoration: none;
}
.App {
  text-align: center;
}

.header {
  font-size: 72px;
}

.small-header {
  font-size: 42px;
}

.smaller-header {
  font-size: 39px;
}

.header-wrapper {
  max-width: 287px;
  margin: auto;
  text-align: left;
}

.p-wrapper {
  max-width: 287px;
  margin: auto;
  text-align: left;
}

.grid-wrapper-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.grid-wrapper-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

}

.grid-wrapper-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

}

.icons-wrapper {
  max-width: 287px;
  margin: auto;
}

.dot {
  position: relative;
  top: 180px;
  left: 145px;
  height: 20px;
  width: 22px;
  background-color: #CCDB74;
  border-radius: 50%;
  display: inline-block;
}

.highlight {
  color: #CCDB74;
}

.icon {
  max-width: 50px;
}

.fill-white path {
  fill: white;
}

/*@media screen (min-width) {*/

/*}*/
